body{
    margin: 0;
    padding: 0;
}
a:hover{
    text-decoration: none !important;
}
ul{
    list-style: none;
    margin: 0 !important;
    padding: 0;
}
/* FONTS  START */
@font-face {
    font-family: Ubuntu; /* Имя шрифта */
    src: url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); /* Путь к файлу со шрифтом */
}
.ubuntu-font{
    font-family: Ubuntu;
}
.assets-string{
    background: #adc973;
}
.obligations-string{
    background: #ebac65;
}
.reserves-string{
    background: #be9fe0;
}
.capital-string{
    background: #87c5e6;
}
/* FONTS  END */
.bg-color-blue{
    background: #4267b2;
}
.mobile-centras-logo{
    width: 4.5rem;
}
.mobile-link-padding{
    padding: 0.3rem;
}
.modalImageSize{
    max-width: 700px;
}
.modalImageButtons{
    /*margin-top: 50%;*/
    color: #fff;
}
.modalImageArrowLeft{
    padding: 15px 17px 15px 15px;
    background: white;
    background: rgba(0,0,0,.15);
}
.modalImageArrowLeft:hover{
    background: rgba(0,0,0,.30);
    transition: 0.2s ease-in-out;
}
.modalImageArrowRight{
    padding: 15px 15px 15px 17px;
    background: white;
    background: rgba(0,0,0,.15);
}
.modalImageArrowRight:hover{
    background: rgba(0,0,0,.30);
    transition: 0.2s ease-in-out;
}
.showBtn{
    margin-top: 1.8rem;
}
.max-height-90vh{
    max-height: 90vh;
}
.dossierIsn{
    margin-top: 1.95rem;
}
@media (min-width: 1000px) and (max-width: 1700px){
    .header-avatar-none{
        display: none;
    }
    .leftsidebar-icons{
        font-size: 1rem;
    }
    .centcoins-value{
        font-size: 3rem !important;
    }
    .centcoin{
        width: 2.8rem !important;
    }
    .parse-top-company-margins div{
        margin-left: 0rem !important;
        margin-right: 0rem !important;
    }
    .parse-top-company-select{
        margin-right: 3rem;
    }
	.label-size{
		font-size: 12px;
	}
}
.flex-start{
    display: flex;
    justify-content: flex-start;
}
.friends-settings{
    background: #e4edff !important;
}
.width-40{
    width: 40%;
}
.color-blue-name{
    color: #4c70b6;
}
.border-rad-10{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.bg-notification-center{
    background-color: #1462ff;
}
.color-dimgray{
    color: dimgray;
}
.modal-blur{
    filter: blur(5px);
}
.modal-margin{
    margin-top: 100px !important;
}
.notification-counter{
    top: 18.8rem;
    left: 83px;
    padding: 0px 4px;
    border: 2px solid #4a76a8;
    border-radius: 12px;
    color: #fff;
    font-size: 8px;
    background-color: #ff734c;
    text-align: center;
    position: absolute;
    z-index: 1;
}
.mobile-date-flex{
    display: flex;
    flex-flow: column;
}
.modal-footer{
    border-top: 0;
}
.CAPS{
    text-transform: uppercase;
}
@media (min-width: 900px) and (max-width: 1500px) {
    .colleagues-tree div{
        flex-flow: column;
        align-items: flex-start !important;
        margin-top: 0.25rem;
    }
    .label-size{
        font-size: 12px;
    }

}
@media (min-width: 900px) and (max-width: 1170px){
    .centcoins-date-indicators div{
        flex-flow: column!important;
        flex-direction: column !important;
        justify-content: flex-start;
    }
    .centcoins-date-indicators div div{
        margin-top: 0.25rem;
    }
    .label-size{
        font-size: 12px;
    }
}
.mobile-date-contain{
    margin-top: 1rem;
}
.min-height-240{
    min-height: 240px;
}
.table-border-right{
    border-right: 1px solid #b6b6b6;
}
.min-width50{
    min-width: 150px !important;
}
.min-width-50{
    min-width: 50%;
}
.min-width46{
    min-width: 46%;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #dce7ff;
}
.resize{
    resize: none;
}
.none{
    display: none;
}
.bold{
    font-weight: bold;
}
.class-a{
    background: #956fc9;
    color: white;
}
.class-b{
    background: #335aad;
    color: #edd33d;
}
.class-c{
    background: #86d1fa;
    color: #0e0d0de3;
}
.class-d{
    background: #ec4f4a;
    color: #e8e6e6;
}
.class-e{
    background: #02a661;
    color: #fff;
}
.termination-checkbox{
    background: #508ff4;
    display: flex;
    padding: 6px;
    border-radius: 8px;
}
.parse-button-top{
    width: 90px;
    margin: 0 0.4rem;
}
.parse-table{
}
/*Bootstrap изменение цвета ячеек при наведении*/
/*.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {*/
/*	background-color: #color;*/
/*}*/
/*Стили thead*/
.parse-table thead tr:nth-of-type(1) td:nth-of-type(2) span{
    background: #ffffff;
    border: 2px solid #508ff4 !important;
    color: #508ff4;
    border-radius: 16px;
    padding: 8px;
    white-space: pre;
}
.parse-table thead tr:nth-of-type(1) td:nth-of-type(3) span{
    background: #ffffff;
    border: 2px solid #508ff4 !important;
    color: #508ff4;
    border-radius: 16px;
    padding: 8px;
    white-space: pre;
}
.parse-table thead tr:nth-of-type(2) td:first-child{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 1px;
}
.parse-centras-active{
    background: #f4f8ff;
}
.parse-table thead tr:nth-of-type(2) td:last-child{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px;
}
.parse-table thead tr:nth-of-type(2){
    background: #f1f4f7;
    color: darkgray;
}
.parse-table thead tr:nth-of-type(1) td:first-child{
    font-weight: bold;
}
.parse-table thead tr:nth-of-type(1) td:nth-of-type(4){
    color: #767676;
    font-weight: bold;
}
.parse-table thead tr:nth-of-type(1) td:nth-of-type(5){
    background: #eaeff3;
    width: 1px !important;
}
.parse-table thead tr:nth-of-type(1) td:nth-of-type(6){
    color: #767676;
    font-weight: bold;
}
.parse-table thead tr:nth-of-type(2) td:nth-of-type(10){
    background: #eaeff3;
    width: 1px !important;
}
/*Стили Tbody*/
/*Подсвечивает пятую строку с Сентрас Иншуранс*/
/*.parse-table tbody tr:nth-of-type(5){*/
/*	background: #f4f8ff;*/
/*}*/
.parse-table tbody tr td:first-child{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.parse-table tbody tr td:last-child{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
/*Скругление блоков по левой стороне от 10 блока*/
/*.parse-table tbody tr td:nth-of-type(9){*/
/*	border-top-right-radius: 12px;*/
/*	border-bottom-right-radius: 12px;*/
/*}*/
.parse-table tbody tr td:nth-of-type(10){
    background: #eaeff3;
    width: 1px;
}
/*Скругление блоков по правой стороне от 10 блока*/
/*.parse-table tbody tr td:nth-of-type(11){*/
/*	border-top-left-radius: 12px;*/
/*	border-bottom-left-radius: 12px;*/
/*}*/
.parse-table tbody td:first-child span{
    border: 1px solid darkgray;
    border-radius: 8px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
.border-table-0 td{
    border: 0 !important;
}
.parse-table td{
    width: 80px;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.modal-textarea-comment{
    border: 1px dashed #275cc7;
    background: #ecf5ff;
    min-height: 250px;
}
.modal-textarea-comment-solid{
    border: 1px solid #275cc7;
    min-height: 150px;
    background: #ffffff;
}
.attachment-border{
    border-right: 1px dashed #8cc2f9;
}
.text-dec-underline{
    text-decoration: underline;
}
.attachment-bg{
    background: #dce7ff;
    color: #5d5d5e;
    height: 100%;
    width: 100%;
    word-break: break-all;
}
.red-button{
    color: red;
}
.yellow-button{
    color: yellow;
}
.blue-button{
    color: #508ff4;
}
.green-button{
    color: darkgreen;
}
.mobile-matching-additional-information{

}
.table-striped-white-blue > tbody > tr:nth-child(2n+0) > td, .table-striped > tbody > tr:nth-child(2n+0) > th {
    background-color: #fff;
}
.mobile-matching-active-table td{
    border: 1px solid #0255ff;
    border-top: 1px solid #0255ff !important;
    color: #286eff;
}
.mobile-matching-active-table-contain td{
    font-size: 0.7rem;
}
.width40pxHOTFIX{
    width: 40px !important;
}
.mobile-matching-active-table-contain td:first-child{
    border-right: 1px solid lightsteelblue !important;
}
.mobile-matching-second-table-contain{

}
.mobile-matching-second-table-contain td:first-child{
    text-align: left;
}
.mobile-matching-second-table-contain td{
    border: 1px solid #aac0ea;
}
.rotate-45{
    transform: rotate(45deg);
}
.modal-note{
    border: 1px solid #a0b3d8;
}
.button-accept{
    background: #508ff4;
}
.fit{
    width: fit-content;
}
.bg-parse{
    background: #eaeff3;
}
.main_padding{
    padding: 0 9rem;
}
.fs-0_1{
    font-size: 0.1rem;
}
.fs-0_2{
    font-size: 0.2rem;
}
.fs-0_3{
    font-size: 0.3rem;
}
.fs-0_4{
    font-size: 0.4rem;
}
.fs-0_5{
    font-size: 0.5rem;
}
.fs-0_6{
    font-size: 0.6rem;
}
.fs-0_7{
    font-size: 0.7rem;
}
.fs-0_8{
    font-size: 0.8rem;
}
.fs-0_9{
    font-size: 0.9rem;
}
.fs-1{
    font-size: 1rem;
}
.fs-1_2{
    font-size: 1.2rem;
}
.fs-1_3{
    font-size: 1.3rem;
}
.fs-1_4{
    font-size: 1.4rem;
}
.fs-1_5{
    font-size: 1.5rem;
}
.fs-1_6{
    font-size: 1.6rem;
}
.fs-1_7{
    font-size: 1.7rem;
}
.fs-1_8{
    font-size: 1.8rem;
}
.fs-1_9{
    font-size: 1.9rem;
}
.fs-2{
    font-size: 2rem;
}
.fs-2_1{
    font-size: 2.1rem;
}
.fs-2_2{
    font-size: 2.2rem;
}
.fs-2_3{
    font-size: 2.3rem;
}
.fs-2_4{
    font-size: 2.4rem;
}
.fs-2_5{
    font-size: 2.5rem;
}
.fs-2_6{
    font-size: 2.6rem;
}
.fs-2_7{
    font-size: 2.7rem;
}
.fs-2_8{
    font-size: 2.8rem;
}
.fs-2_9{
    font-size: 2.9rem;
}
.fs-3{
    font-size: 3rem;
}
.fs-4{
    font-size: 4rem !important;
}
.pt-13{
    padding-top: 13rem !important;
}
.keep-all{
    -ms-word-break: keep-all;
    word-break: keep-all;
    width: 5rem;
}
.button-cancel{
    background: #c10b0b;
}
.button-neutral{
    background: transparent;
    color: #508ff4;
    border: 1px solid #508ff4;
}
.matching-border{
    border-bottom: 2px solid #5680d3;
}
.colleagues-input-contain{
    border-bottom: 1px solid gray;
    width: fit-content;
    width: -moz-fit-content;
}
/*SHOW HIDE ANIMATION*/
.slideDown{
    margin: auto auto 0;
}
.slideDown:active{
    animation-name: slideDown;
    -webkit-animation-name: slideDown;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
}

.colleagues-select{
    border: 1px solid #88a1d3;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.border-8{
    border-radius: 8px;
}
.matching-underline{
    text-decoration: underline #508ff4;
}
.matching-note-border{
    border-bottom: 10px solid #275cc7;
}
.m-navbar{
    position: absolute;
    width: 100vw;
    background: white;
    z-index: 200;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    /*display: none;*/
}
.hamburger-mobile:hover > .m-navbar{
    display: block;
    /*transition: .3s ease-in-out;*/
}
div-size{
	width: 60%!important;
}
@media (min-width: 350px){
    .m-navbar{
        width: 300px;
        height: 100%;
    }
}
.initial{
    position: initial !important;
}
.test{
    margin: 0 1.5rem;
}
.matching-buttons{
    border-radius: 6px;
    font-size: 1.6rem;
}
.matching-table thead{
    font-weight: bold;
}
.matching-table td{
    min-height: 2rem;
}
.matching-table tr:first-child{
    background: #dce7ff;
}
.none{
    display: none;
}
.color-blue{
    color: #4267b2;
}
.light-gray{
    color: lightgray;
}
.mobile-navbar-active{
    color: #4267b2 !important;
}
.mobile-navbar-border-bot{
    border-bottom: 1px solid #859dce;
}
.mobile-navbar-border-bot:not(:first-child){
    padding-top: 1.25rem;
}
.font-size-1_2{
    font-size: 1.2rem;
}
.modal-size{
    width: 155% !important;
    margin-left: -12rem;
}
.fs-1_1{
    font-size: 1.1rem;
}
.fs-0_9{
    font-size: 0.9rem;
}
.color-white{
    color: white;
}
.color-white-hover:hover{
    color: white;
}
.color-black{
    color: black;
}
.color-black-hover{
    color: black;
}
.color-black-hover:hover{
    color: black;
}
.border-16{
    border-radius: 16px;
}
.border-r-top-16{
    border-top-right-radius: 16px;
}
.blocks-borderRad-top{
    border-radius: 16px 16px 0 0;
}
.blocks-borderRad-bot{
    border-radius: 0 0 16px 16px;
}
.blocks-small-borderRad-top{
    border-radius: 4px 4px 0 0;
}
.blocks-small-borderRad-bot{
    border-radius: 0 0 4px 4px;
}
.blocks-small-borderRad{
    border-radius: 4px;
}
.blue-bg-all{
    background: #4267b2;
}
.bg-WHITE
{
    background: #fff !important;
}
.border-btt{
    border-bottom:1px solid #000;
}
.border-t{
    border-top: 1px solid #fff;
}
.border-l{
    border-left: 1px solid #fff;;
}
.border-r{
    border-right: 1px solid #fff;;
}
.width110{
    width: 110%;
}
.ModalColorfulText td{
    color: #4267b2;
    border-left: 1px solid #4267b2;
    border-right: 1px solid #4267b2;
    border-top: 1px solid #4267b2 !important;
    border-bottom: 1px solid #4267b2;
}
.coordinationModalTr:first-child{
    color: #4267b2;
}
.coordinationModalTr{
    font-weight: bold;
    color: #4267b2;
}
.coordinationModalTextStyle{

}
.color-darkgray{
    color: darkgray;
}
.gray-chevrons{
    color: #767676;
}
.color-red{
    color: red;
}
.mt-minus-8px{
    margin-top: -8px;
}
.mt-minus-10px {
    margin-top: -10px;
}
.text-ellipsis{
    overflow: hidden;
    height: 25px;
}
.visibility_hidden{
    visibility: hidden;
}
.absolute-right-0{
    right: 0;
}
.settings-icon-transform{
    transform: rotate(90deg);
}
.settings-icon-transform270{
    transform: rotate(270deg);
}
.block{
    display: block;
}
.date-color{
    color: #818181;
}
.thead-border{
    border-left: 1px solid white !important;
    border-right: 1px solid white !important;
}
.activity-color{
    color: #275cc7;
}
.font-weight-normal{
    font-weight: normal !important;
}
.centcoins-table th{
    background: #275cc7 !important;
    color: #b7bac5;
}
.alert {
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .50rem;
}
.alert-p {
	color: #004085;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}
.flex-con {
	/*генерирует flex-контейнер уровня строки*/
	display: -webkit-inline-flex;
	display: inline-flex;
}

.margin-t-5{
	margin-top: 2%;
}
.img-size{
	width: 20px;
	height:20px
}
.attention-size{
	width: 20px;
	height:20px
}
.search-size{
	width: 35px;
	heidth:35px;
}
.flex-attention{
	display: flex;
	justify-content:flex-end !important;
}
.att-flex-class {
    width: 270px !important;
}
.flex-start{
	display: flex;
	justify-content:flex-start ;
}
.width-80{
	width: 80%!important;
}
//.width-35{
//	width:35%;!important;
//}

.margin-r-2{
	margin-right: 2%;

}
.centcoins-table td{
    color: #6f6f75;
}
.dosier-table td{
    max-width: 15rem;
    min-width: 5rem;
}
.dosier-modal-table thead{
    background: #f5f6fa;
}
.dosier-modal-table td:first-child{
    width: 20rem;
}
.dosier-modal-table td:nth-child(2){
    width: 10rem;
    text-align: center;
}
.ml-10{
    margin-left: 5.5rem;
}
.mr-10{
    margin-right: 5.5rem;
}
.mobile-cancel-image{
    position: absolute;
    z-index: 2;
    opacity: 0.8;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    right: .5rem;
}
.mobile-image-size-fix{
    max-height: 50px;
    min-height: 50px;
}
.font-size-1_4{
    font-size: 1.4rem;
}
.text-align-center{
    text-align: center;
}
.motivation-red{
    color: #ff4454;
}
.width-min-content{
    width: min-content;
}
.border-gray{
    border: 1px solid #a2a2a2;
}
.menu-right-side-active{
    background: #bdd1f8;
}
.tabs-contain-active{
    background: #275cc7 !important;
}
.tabs-contain:hover{
    color: white;
    background: #4373d9;
    transition: 0.2s ease-in-out;
}
.tabs-contain{
    background: #6c93e5;
}
.first-tab{
    border-radius: 6px 0 0 0;
}
.last-tab{
    border-radius: 0 6px 0 0;
}
.bg-darkgray{
    background: #eeeeee;
}
.text-decoration{
    text-decoration: none;
}
.text-decoration:hover{
    text-decoration: none;
}
.padding0{
    padding: 0 !important;
}
.border-black{
    border: 1px solid black;
}
.box-shadow{
    box-shadow: 2px 5px 5px #00000012, -2px 0px 5px #00000012, 0px -1px 5px #00000012;
}
.box-shadow-darkest{
    box-shadow: 2px 5px 6px #00000020, -2px 0px 6px #00000020, 0px -1px 6px #00000020;
}
.news-tape-bg{
    background: #e9ebee;
}
.news-contains-top{
    border-radius: 16px 16px 0 0;
}
.news-contains-bottom{
    border-radius: 0 0 16px 16px;
}
.textarea{
    resize: none;
}
.news-block-image-contain{
    /*height: 290px;*/
}
.centcoins-bg-blue{
    background: #0051f3;
}
.center{
    width: 50%;
    margin: 0 auto;
}
.textarea:focus{
    outline: 0;
}
.outline:focus{
    outline: none;
}
.pointer:hover{
    cursor: pointer;
}
.border-date{
    border: 1px solid #707070;
    border-radius: 6px;
}
.border-structureMenu{
    border:0.001px solid #707070;
    border-radius: 6px;
}
.font-size-1_6{
    font-size: 1.6rem;
}
.bg-white{
    background: white;
}
.font-size-4rem{
    font-size: 4rem;
}
.font-size-3_8rem{
    font-size: 3.8rem;
}
.border-hr{
    border: 0.3px solid #a2a2a2;
}
.new-publication-icons-bg{
    background: #efefef;
    border-radius: 8px;
}
.new-publication-icons-bg span{
    font-size: 0.9rem;
}
.forestgreen{
    color: forestgreen;
}
.cornflowerblue{
    color: cornflowerblue;
}
.create-publication{
    background: #d9d9d9;
}
.zi-1{
    z-index: 1;
}
.zi-2{
    z-index: 2;
}
.zi-3{
    z-index: 3;
}
.zi-4{
    z-index: 4;
}
.zi-5{
    z-index: 5;
}
.zi-max{
    z-index: 10;
}

.flex-column{
    display: flex;
    flex-flow: column;
}
.border-radius15{
    border-radius: 15px;
}
.comment-border{
    border: 1px solid #767676;
}
.comment-icons{
    font-size: 1.4rem;
}
.textarea-comment{
    height: 30px;
    min-height: 30px;
}
.comment-icons-contain{
    padding-top: 0.45rem;
}
.jc-sb{
    display: flex;
    justify-content: space-between;
}
.border-rad-20{
    border-radius: 20px !important;
}
.border-top-rad-20{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.border-top-0{
    border-top: 0;
}
.jc-sa{
    display: flex;
    justify-content: space-around;
}
.jc-center{
    display: flex;
    justify-content: center;
}
.vertical-middle{
	display: flex;
	align-items: start;
}
.vertical-m{
	display: flex;
	align-items: flex-start;
}
.color-icon{
	color: #100cff;
}
.icon-flex{
	display: flex;
	justify-content: flex-start;
    display: flex;
    align-items: center;
}
.icon-size{
	font-size: 16px;
	font-family: none;
}

.width100{
    width: 100%;
}
.width50{
    width: 50%;
}
.height100{
    height: 100%;
}
.avatar-menu-size{
    height: 100%;
    position: relative;
}
.avatar-menu-size:hover .sticker-block{
    display: block;
}

/*Ava-border
    Gold > 300
    Silver > 200
    Bronze > 100
*/
.ava-bord-bronze {
    border: 2px solid #cd7f32;
    padding: 2px;
}
.ava-bord-silver {
    border: 2px solid #c0c0c0;
    padding: 2px;
}
.ava-bord-gold {
    border: 2px solid #ffd700;
    padding: 2px;
}

.avatar-circle {
    text-align: center;
    width: 100%;
    position: absolute;
    font-size: 2rem;
    top: -21px;
}
/*Crown
    Gold > 300
    Silver > 200
    Bronze > 100
*/

.crown {
    text-align: center;
    width: 100%;
    position: absolute;
    font-size: 2rem;
    top: -21px;
}

.crown-bronze {
    color: #cd7f32;
    text-shadow: 0 0 5px #cd7f32;
}
.crown-silver {
    color: #c0c0c0;
    text-shadow: 0 0 5px #c0c0c0;
}
.crown-gold {
    color: #ffd700;
    text-shadow: 0 0 5px #ffd700;
}

.avatar-circle {
    text-align: center;
    width: 100%;
    position: absolute;
    font-size: 2rem;
    top: -21px;
}

/*Sticker Coin vs Tomato*/
.sticker-block{
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 20%;
    display: none;
    color: white;
}
.sticker-num {
    text-align: center;
    color: white;
    position: absolute;
    top: 5px;
    font-size: 22px;
    width: 100%;
}
.sticker {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: 10;
    cursor: pointer;
}
.sticker-block .sticker-like {

}
.sticker-block .sticker-dislike {
    width: 56px;
    height: 56px;
    right: -5px;
    bottom: -9px;
}
.sticker-like{
    width: 64px;
    height: 64px;
    left: -5px;
    bottom: -10px;
    background-image: url("/images/icons/cup.png");
}
/*.sticker-dislike{
    width: 30px;
    height: 30px;
    background-image: url("/images/icons/sticker-tomato.png");
}*/

.radius-4px{
    border-radius: 4px;
}
.border-radius-8 {
    border-radius: 8px;
}
.left-menu-nickname-fonts{
    font-size: 1.3rem;
    font-weight: bold;
}
.left-menu-border{
    border-bottom: 1px solid black;
}
.left-menu-fonts{
    line-height: 18px;
}
.avatar-menu-size img{
    width: 100%;
    border-radius: 10px;
}
.border0{
    border: 0;
}
.news-block-avatar{
    height: 100%;
}
.new-publication-avatar{
    width: 75px;
    height: 70px;
}
.table-td-border{
    border-right: 1px solid #b6b6b6;
    border-left: 1px solid #b6b6b6;
}
.modal-lg-custom{
    margin-left: -180px;
    width: 150% !important;
}
.modal-custom-border-top{
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}
.inline{
    display: inline;
}
.bold{
    font-weight: bold;
}
.border-white{
    border: 1px solid #fff;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.table-striped-custom{
    background: #dce7ff;
}
.bg-blue-standart{
    background: #275cc7;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.color-blue-standart{
    color: #275cc7;
}
.color-white-standart{
    color: #ffffff;
}
.border-bottom-white{
    border-bottom: 1px solid white;
}
.border-0-bottom{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid black;
}
.img-flex{
	display: flex;
	/*justify-content: flex-start;*/
	align-items: center;
	flex-direction: column;
	width: 45%;
	heiidh:35%
	/*position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    border-right: 1000px;
    transition: 15s box-shadow;
    padding: 2px;
    heidth:40px;
    max-width: 40px;
    max-height: 40px;*/
}
.img-fx{
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 27px;
	heiidh:30px;


}
.div-m{
	margin-left:10px;
}

/*.bg-img{
	background-color: #8fbd35;
	border-color: #508ff4;
	padding: 20px;
}*/
.img-svg path,
.img-svg polygon {
	fill-opacity: .5; /* прозрачность заливки */
	stroke: #ff6c00; /* цвет обводки */
	stroke-width: 10px; /* толщина обводки */
	stroke-opacity: .8; /* прозрачность обводки */
}
#myImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}
.btnhjcj {
	color: #007bff;
	background-color: transparent;
	background-image: none;
	border-color:#007bff;
}
.btnhjcj:hover {
	color: #fff;
	background-color: #868e96;
	border-color: #868e96;
}
.m-div{
	width: 610px;
}
#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 200px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,.5); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
	margin: auto;
	display: block;
	justify-content: center;

	max-width:70%;
	height: 80%;
}
.modal-size{
	width: auto;

}
.modal-flex{
	display: flex;
	justify-content: center;
}

/* Caption of Modal Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 100%;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.modal-content, #caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)}
	to {-webkit-transform:scale(1)}
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.modal-content {
		width: 90%;
	}
	.label-size{
		font-size: 12px;
	}
}
/*Стили страницы входа*/
.image{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}
.header-img-width{
    width: 6rem;
}
.header-section {
    display: none;
    position: absolute;
    margin-top: 3rem;
    width: 100%;
    z-index: 1000;
    /*border: 1px solid black;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}
.header-section section{
    width: 100%;
}
.header-section option{
    background: #4974cc;
    color: #FFF;
    width: 100%;
}
.header-section option:hover{
    background: #4267b2;
}
.header-menu-hover:hover + .header-section{
    display: block;
}
.header-section:hover{
    display: block;
}

.header-navigation {
    transition: 0.4s ease;
}

.header-navigation:hover {
    background-color: #4974cc;
    transition: 0.4s ease;
}

.white-logo-contain{
    width: 230px;
}
.main_margin{
    margin: 0 9rem;
}
.flex-row{
    display: flex;
    flex-flow: row;
}
/*Конец стилей страницы входа*/
/*Начало главной страницы новостей*/
.header{
    background: #4267b2;
}
.header-ul a{
    padding: 1rem;
}
.header-ul li{
    color: white;
}
.small-avatar-circle-width{
    width: 40px;
    height: 40px;
}
.mobile-medium-avatar-circle-width {
    width: 70px;
    height: 70px;
}
.height100vh{
    height: auto;
}
.small-avatar-circle{
    border-radius: 50%;
}
.header-avatar-contain{
    background: #4974cc;
    border-radius: 10px;
}
.header-avatar-nickname{
    color: white;
}
.footer{
    background: #d0d0d0;
}
.social-spacing-contain{
    width: 30%;
    margin: 0 auto;
}
.social-spacing{
    margin: 0 2rem;
}
.footer-fonts{
    font-size: 0.8em;
}
.kupipolis_mail{
    color: #4267b2;
    font-size: 1.8em;
    text-decoration: underline;
}
.kupipolis_mail:hover{
    text-decoration: underline !important;
}
.kupipolis_main-child-text{
    color: #595959;
    font-family: sans-serif;
}
/*Конец главной страницы новостей*/
/*Начало стилей Алихана*/
/*----------Specifications----------*/
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container-fluid {
    /* border: 1px solid yellow; */
    max-width: 85% !important;
    margin: 0 auto !important;
    padding: 0 !important;
}

/*----------Main----------*/
.main {
    height: 100vh;
    min-height: 600px;
    background: url('../images/background.png') no-repeat center;
    background-size: cover;
}


/*----------Header----------*/
.header-login {
    padding-top: 70px;
    /* border: 1px solid white; */
}

.logo {
    height: 4em;
    /* border: 1px solid red; */
}

/*----------Content's First-Column----------*/
.title {
    padding-top: 200px;
}

.title__welcome, .title__main {
    display: block;
    color: #fff;
    text-align: center;
}

.title__welcome {
    font-size: 0.7em;
}

.title__main {
    font-size: 2.5em;
}

.social {
    text-align: center;
    margin-top: 60px;
}

.social__title {
    color: #fff;
    font-size: 1.3em;
}

.social__icons {
    margin-top: 10px;
}

.social__link {
    margin-right: 50px;
}

.social__link:last-child {
    margin-right: 0;
}

.fa-login {
    font-size: 3.4em;
    color: #FFF;
    transition: 0.4s ease;
}

.fa-instagram:hover {
    /* color: #8A3AB9; */
    /* background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    transition: 0.4s ease;
}

.fa-facebook-square:hover {
    color: #3B5998;
    transition: 0.4s ease;
}

.fa-youtube-play:hover {
    color: #FF0000;
    transition: 0.4s ease;
}

/*----------Content's Second Column----------*/
.users {
    margin-top: 40px;
    /* border: 1px solid red; */
}
.users__image {
    height: 10em;
    /* border: 1px solid white; */
}

.input-container {
    margin-top: 30px;
    position: relative;
    /* border: 1px solid red; */
}

.fa-input {
    font-size: 2.2em;
    position: absolute;
    color: grey;
    bottom: 8px;
    /* left: 180px; */
    left: 5.1em;
}

.show {
    border: none;
    outline: none !important;
    /*position: absolute;*/
    right: 170px;
    bottom: 6.5px;
    display: inline;
    background: none;
}

.right-sidebar-blocks{
    word-break: break-word;
}

.fa-eye-login {
    font-size: 2.2em;
    color: grey;
}

.input-field {
    height: 50px;
    width: 60%;
    max-width: 60%;
    /* padding-left: 80px; */
    padding-left: 4.2em;
    padding-right: 5em;
}

.btn-block {
    margin-top: 85px;
    height: 50px;
    max-width: 60%;
    background-color: rgba(83, 49, 206, 0.801);
    border: none;
    box-shadow: 0 0 5px rgba(0, 0,0, 0.5);
    outline: none !important;
    transition: 0.4s ease;
    color: #fff;
}

.btn-block:hover {
    background-color: rgba(72, 37, 212, 1);
    transition: 0.4s ease;
    color: #000;
}

/*----------Footer----------*/
.login-footer {
    margin-top: 200px;
}

.footer__title {
    display: block;
    text-transform: uppercase;
    color: #FFF;
}

.date-width {
    height: 45px;
}

/* ------------Nedia queries --------*/
@media screen and (max-width: 960px) {

}

.btn.aqua-gradient {
    transition: .5s ease;
    color: #fff;
}

.btn.btn-sm {
    padding: .5rem 1.6rem;
    font-size: .64rem;
}

.aqua-gradient {
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn-rounded {
    border-radius: 10em;
}

.rating {
    display: inline-block;
    align-self: flex-end;
}

.centcoin {
    width: 3.8rem;
}

.width80 {
    width: 80%;
}

.image-circle-add-post{
    width: 70px;
    border-radius: 50%;
    height: 70px;
    margin-left: 0!important;
}

.header-avatar-size{
    width: 40px;
    height: 45px;
}

.motivation{
    color: #42d042
}
/*Конец стилей Алихана*/
/*Mobile*/
.mobile-main-container {
    width: 100%;
}

.mobile-bg-position{
    background-position-x: -315px;
    /*background-position-y: -148px;*/
}
.mobile-input{
    max-width: 100% !important;
    width: 100%;
    background: hsla(227,46%,49%,.7);
    border-radius: 14px;
    border: 1px solid hsla(227,46%,49%,.7);
}
.mobile-button-login{
    border-radius: 60px;
}
.mobile-input:focus{
    outline: hsla(227,46%,49%,.7);
}
.mobile-input-password{
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.mobile-input-login::-webkit-input-placeholder{
    color: #fff;
}
.mobile-input-password::-webkit-input-placeholder{
    color: #73a7d4;
}
.mobile-input-password-icon{
    background: hsla(227,46%,49%,.7);
    border-radius: 0 14px 14px 0;
    border-left: 0;
    border-top: 1px solid hsla(227,46%,49%,.7);
    border-right: 1px solid hsla(227,46%,49%,.7);
    border-bottom: 1px solid hsla(227,46%,49%,.7);
}
.mobile-social-icons{
    font-size: 1.8rem;
}
.mobile-main-height{
    height: 100vh;
}
.mobile-input-icons{
    left: 8.7em !important;
}
.ml-5_5em{
    margin-left: 5.5em;
}
.mobile-social-contain{
    margin-top: 10rem;
}
.mobile-main-contain{
    padding-top: 2rem;
}
@media (max-width: 350px){
    .mobile-social-contain{
        margin-top: 0 !important;
    }
    .mobile-main-contain{
        padding-top: 2rem !important;
    }
}
.chart-mainData-attributes{
    margin: 0.5rem 0;
}
.chart-mainData-attributes-contain{
    margin-left: -100px;
    z-index: 50;
}
.main-data-chart-contains{
    display: flex;
    flex-flow: row;
}
.main-data-chart-contains-size{
    /*width: 50%;*/
}
.width-100-imp{
    width: 100% !important;
}
.width-40-imp{
    width: 50% !important;
}
.data-chart-pie{
    width: 100% !important;
}
.data-chart-bar{
    width: 100% !important;
}
.main-data-border{
    border-right: 1px solid black;
}
.main-data-border-left{
    border-left: 1px solid black;
}
@media (max-width: 1800px){
    /*.main-data-chart-contains{*/
    /*flex-flow: column;*/
    /*}*/
    /*.main-data-chart-contains-size{*/
    /*width: 100%;*/
    /*}*/
    /*.data-chart-pie{*/
    /*width: 500px !important;*/
    /*padding-left: 120px;*/
    /*}*/
    /*.main-data-border{*/
    /*border-right: 0;*/
    /*border-bottom: 1px solid black;*/
    /*padding-bottom: 2rem;*/
    /*}*/
    /*.main-data-border-left{*/
    /*border-left: 0;*/
    /*border-bottom: 1px solid black;*/
    /*padding-bottom: 2rem;*/
    /*}*/
    /*.data-chart-bar{*/
    /*padding-top: 1rem;*/
    /*width: 700px !important;*/
    /*padding-left: 20px;*/
    /*}*/
}

.svg_center{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.coordination-none-text{
    font-weight: bold;
    text-align: center;
    font-size: x-large;
}

.post-image{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.show-full-text {
    max-height: none!important;
    overflow: unset!important;
}

.show-all-btn {
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    transition: 0.4s ease;
}

.show-all-btn:hover {
    color: cornflowerblue;
}

.parse-active{
    background: #508ff4 !important;
    color: #ffffff !important;
    border-radius: 16px !important;
    padding: 10px !important;
}
.parse-table thead tr:nth-of-type(1) td:nth-of-type(2) span:hover{
    background: #508ff4 !important;
    color: #ffffff !important;
    border-radius: 16px !important;
    /*padding: 10px !important;*/
    transition: 0.4s ease-in-out;
}
.parse-table thead tr:nth-of-type(1) td:nth-of-type(3) span:hover{
    background: #508ff4 !important;
    color: #ffffff !important;
    border-radius: 16px !important;
    /*padding: 10px !important;*/
    transition: 0.4s ease-in-out;
}

#inputRRPDiscount {
    color : red;
}


.show-btn {
    transition: 0.4s ease;
    cursor: pointer;
}
.show-btn:hover {
    color: #000;
    border-color: #000;
}
/*Стилизация плейсхолдеров, перед псевдоклассом надо поставить имя класса инпута*/
/*::-webkit-input-placeholder {color:#fff;}*/
/*::-moz-placeholder          {color:#fff;}!* Firefox 19+ *!*/
/*:-moz-placeholder           {color:#fff;}!* Firefox 18- *!*/
/*:-ms-input-placeholder      {color:#fff;}*/

/*MEDIA*/

@media (max-width: 800px){
    .ad-flex-column-800{
        display: flex;
        flex-flow: column !important;
        flex-direction: column !important;
    }
    .ad-wrap-800{
        display: flex;
        flex-wrap: wrap;
    }
    .ad-jc-sb-800{
        justify-content: space-between;
        display: flex;
    }
    .ad-jc-sa-800{
        justify-content: space-around;
        display: flex;
    }
    .ad-jc-center-800{
        justify-content: center;
        display: flex;
    }
    .ad-alignitems-center-800{
        align-items: center;
        display: flex;
    }
    .ad-width190-800{
        width: 190px;
    }
    .ad-stretch-800{
        display: flex;
        align-items: stretch !important;
    }
    .ml-0-contain div{
        margin-left: 0 !important;
    }
    .ad-dealer-raiting-ml-2-800 div:nth-of-type(2){
        margin-left: 2rem;
    }
    .dealer-raiting-input1{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .dealer-raiting-input1-contain{
        margin-left: 0 !important;
    }
    .dealer-raiting-input2{

    }
    .dealer-raiting-margins{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .dealer-raiting-input3{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .dealer-raiting-input3-contain div{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .main_margin{
        margin: 0;
    }
    .show-btn-contain div:nth-of-type(2){
        margin-left: 0.50rem !important;
    }
	.dealer-raiting-margins{
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.label-size{
		font-family: "Times New Roman";
		font-size:12px;
	}
}
@media(max-width: 600px){
    .data-chart-pie{
        padding-left: 0;
    }
}
@media(max-width: 440px) {
    .ad-flex-column-440{
        display: flex;
        flex-flow: column !important;
        flex-direction: column !important;
    }
    .ad-alignitems-end-440{
        align-items: flex-end;
        display: flex;
    }
}

/*News feed styles*/





/*Emoji*/
.wrapper {
    position: relative;
    display: inline-block;
}

.regular-input {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 20rem;
    height: 12rem;
    outline: none;
}

.regular-input:focus {
    box-shadow: 0 0 0 3px rgba(66,153,225,.5);
}

.emoji-invoker {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
}
.emoji-invoker:hover {
    transform: scale(1.1);
}
.emoji-invoker > svg {
    fill: #b1c6d0;
}

.emoji-picker {
    position: absolute;
    z-index: 1;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    border: 1px solid #ccc;
    width: 20rem;
    height: 20rem;
    overflow: scroll;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 1px 1px 8px #c7dbe6;
}
.emoji-picker__search {
    display: flex;
}
.emoji-picker__search > input {
    flex: 1;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    outline: none;
}
.emoji-picker h5 {
    margin-bottom: 0;
    color: #b1b1b1;
    text-transform: uppercase;
    font-size: 0.8rem;
    cursor: default;
}
.emoji-picker .emojis {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.emoji-picker .emojis:after {
    content: "";
    flex: auto;
}
.emoji-picker .emojis span {
    padding: 0.2rem;
    cursor: pointer;
    border-radius: 5px;
}
.emoji-picker .emojis span:hover {
    background: #ececec;
    cursor: pointer;
}

/*textarea*/
textarea::-webkit-scrollbar {
    width: 5px;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /*border-radius: 10px;*/
}

textarea::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* news */
.common-btn {
    color: #000;
    background-color: #efefef;
    border: none;
    border-radius: 8px;
    transition: 0.4s ease;
    outline: none;
}

.common-btn:hover {
    transition: 0.4s ease;
    background-color: cornflowerblue;
    color: #FFF;
}


/*transitions*/
.transition-opacity-enter-active,
.transition-opacity-leave-active {
    transition: opacity .5s;
}

.transition-opacity-enter,
.transition-opacity-leave-to {
    opacity: 0;
}

.transition-textarea-width-enter {
    width: 0;
    transition: all 0.8s ease;
}

.transition-textarea-width-enter-to {
    width: 100%;
    transition: all 0.8s ease;
}

.transition-textarea-width-leave {
    width: 100%;
    transition: all 0.8s ease;
}

.transition-textarea-width-leave-to {
    width: 0;
    transition: all 0.8s ease;
}
.w-95 {
    width: 95%;
}
.flex-center{
    display:flex;
    justify-content: center;
}
.div-ml{
    margin-left: 5%;
}
.div-mr{
    margin-right: 5%;
}

.div-downmar{
    margin-bottom: 20px;
}
.md-7{
    margin-top: 10px;
}



/*Colleagues page*/
.colleagues-section {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.colleagues-section__header__nav {
    position: relative;
}

.colleagues-section__header__nav input {
    border: none;
    outline: none;
    padding-right: 2rem;
    border-bottom: 1px solid #000;
    width: 180px;
}

.colleagues-section__header__nav input:focus {
    border-bottom: 1px solid cornflowerblue;
}

.colleagues-section__header__nav:focus-within > .fas {
    color: cornflowerblue;
}
.tabs-contain-active{
    background: #275cc7 !important;
}
.tabs-contain:hover{
    color: white;
    background: #4373d9;
    transition: 0.2s ease-in-out;
}
.tabs-contain{
    background: #6c93e5;
}
.first-tab{
    border-radius: 6px 0 0 0;
}
.last-tab{
    border-radius: 0 6px 0 0;
}
.min-height-15{
    min-height: 15px;
}

.colleagues-section__header__nav span {
    position: absolute;
    right: 7px;
    top: 7px;
}

.colleagues-section__btn {
    transition: 0.4s ease;
}

.colleagues-section__btn:hover {
    background-color: cornflowerblue;
}

.colleagues-section__body {
    display: grid;
    grid-template-columns: auto auto;
}

.vw90{
    width: 90vw;
}

.to-top-btn {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.parse-info{
    text-align: right;
    width: 100%;
    color: gray;
    margin-right: 55px;
}

.highlight {
    background-color: yellow;
}

.selected-highlight {
    background-color: orange !important;
}

.fixed{
    position: fixed;
    top: 0;
    width: 80%;
    background-color: white;
    border: black solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    left: 10%;
}

.relative{
    position: relative;
}
.Birthday-line_height{
    line-height: 0.8rem;
}
.Birthday-line_height-header{
    line-height: 1.1rem;
}
.Birthday-margin-inner:not(:first-child){
    padding: 0.5rem 0;
}
.Birthday-line_height{
    line-height: 0.9rem;
}
.Birthday-line_height-header{
    line-height: 1.2rem;
}
.Birthday-margin-inner:not(:first-child){
    padding: 0.5rem 0;
}
@media (min-width: 1500px){
    .col-md-2-sm-3-lg{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
}
@media (max-width: 1499px){
    .col-md-2-sm-3-lg{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.hover-gray:hover{
    color: gray;
}
.events-arrow-bg:hover{
    /*transition: 0.3s ease-in;*/
    background: rgba(0,0,0,.1);
}

.meanShare{
    font-weight: bold;
    background-color: #4267b2;
    color: white;
}

.ml2{
    margin-left : 2px !important;
}
.mr2{
    margin-right: 2px !important;
}

.count-days{
    font-weight: bold;
    text-align: left;
    background-color: #c2daf0d1;
}
.birthday-balls{
    width: 40%;
    bottom: -5%;
    right: -20%;
}
.events-window-size{
    max-width: 80%;
    min-width: 70%;
}

.custom-primary-button {
    color: #508ff4;
    border: 1px solid #508ff4;
    background-color:transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.custom-primary-button:hover {
    background-color: #508ff4;
    color: #FFF;
    box-shadow: 0 0 12px 0 rgba(80, 143, 244, 0.3);
}

.bg-grayblue {
    background-color: #eaeff3;
}

.color-light-gray {
    color: #818181;
}

.custom-primary-button-inverse {
    background-color: #508ff4;
    color: #FFF;
    transition: all 0.4s ease;
}

.custom-primary-button-inverse:hover {
    box-shadow: 0 0 12px 0 rgba(80, 143, 244, 0.3);
}

.pending-count{
    display: inline-block;
    border-radius: 8px;
    background-color: #68adff;
    text-align: center;
    color: white;
    width: 30px;
    height: 30px;
    align-items: end;
}

.date-products{
    border-bottom: 1px solid #82a9f8;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 35px;
    background: white;
}

.custom-select{
    height: 40px !important;
    border: 1.75px solid #82a9f8 !important;

}
.ml-l2{
    margin-left:2rem;
}

.cus-select {
    display: inline-block;
    max-width:90%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    line-height: 1.25;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
    background-size: 8px 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 35px !important;
    border: 1.75px solid #82a9f8 !important;
}
.cus-sel {
    display: inline-block;
    max-width: 40%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    line-height: 1.25;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
    background-size: 8px 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 35px !important;
    border: 1.75px solid #82a9f8 !important;
}
.attr-text{
    border-bottom: 1.75px solid #dee2e6;
    height: 35px;
    background: white;
    color: black;
}
/*.attr-input-text{
    outline: 0;
    border-width: 0 0 2px;
    border-color: #82a9f8;
    height: 30%;

}*/
.attr-input-text{
    outline: 0;
    border-width: 0 0 2px;
    border-color: #82a9f8;
    height: 35px;
}
.add-button{
    cursor : pointer;
    background-color : white;
    color : black;
    border : 1px solid #dee2e6;
    padding: 10px;
    transition: 0.4s ease;
}
.add-button:hover {
    border-color: cornflowerblue;
    color: cornflowerblue;
}

.participant-form{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    background-color : white;
}
.agreement-block{
    box-shadow: 0 0 5px .5px #888888;
    padding: 30px;
    border-radius: 10px;
}

.product-list a{
    color: cornflowerblue;
    transition: 0.4s ease;
}

.product-list a:hover {
    box-shadow: 0px 0px 10px 0 rgba(100,149,237 , .5);
    background-color: cornflowerblue;
    color: white;
}

.agr-block {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
}
.marg-t{
    margin-top: 20%;
}
.btn-size{
    width:20%;
}
.select-size{
    width: 90% !important;}

.text-hw{
    height: 40%;


}

.text-w{
    width: 160px;
}
.text-flex{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.text-f{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}
.font-shif{
    font-family:"Arial" !important
}
.w-70{
    width: 80%;
}
.wid-50{
    width: 50%;
}

.flex-attr{
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}


@media (max-width: 1398px) {
    .text-hw{
        height: 45%;
        width: 100%;
    }
}



@media(max-width: 1228px){
    .w-70{
        width:80%;
    }
    .text-hw{
        width: 100%;
    }

}
@media(max-width: 622px){
    .text-hw{
        width:90%;
    }
    .flex-col-str {
        flex-direction: column;
        justify-content: center;

    }
}
.col-md{

    width: 70%;

}


@media (max-width: 500px){
    .agreement-block{
        padding: 10px;
        barder-radius:5px;

    }
    .flex-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .marg-t{
        margin-top: 10%;
    }
    .mg-11{
        margin-top: 10px;
        margin-left: 10px;

    }

    .select-size{
        width:100%!important;
    }
    .width-checkbox{
        width:10px !important;
    }
    .col-md-12{
        width: 90%!important;
    }
    .w-70{
        width:70%!important;
    }

    .marg-btn {
        margin-top:10px;
    }
    .width-50{
        width:70%!important;
    }
    .div-width{
        width: 95%!important;
    }


    .btn-size{
        width:150px!important;
    }
    .width-70{
        width:80%!important;
    }
    .flex-column{
        display:flex;
        flex-direction:column;

    }
    .w-100{
        width:100%!important;
    }
    .w-90{
        width:90%!important;
    }
    .h-90{
        height:90%!important;
    }
    .flex-col-str {
        flex-direction: column;
        justify-content: center;

    }

    .marg-l{
        margin-left: 5%;
    }


}
@media (max-width: 992px) {
    .agr-block {
        display: grid;
        grid-template-columns: 2fr;
        grid-gap: 20px;
    }
    .flex-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-hw{
        font-size:12px;
    }
    .flex-col-str {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }

}
@media (max-width: 1062px) {
    .text-hw{
        height: 50%;
        width: 110%;
        font-size:14px;
    }
    .w-70{
        width: 80%;
    }
    .flex-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flex-col-str {
        flex-direction: column;
        justify-content: center;

    }
}
@media (max-width: 500px) {
    .text-hw{
        width: 100%;
        font-size:12px;
    }

}




.quotation-list .pagination {
    display:inline-flex;
}

/* Анимации появления и исчезновения могут иметь */
/* различные продолжительности и динамику.       */
.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active до версии 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

.input7-size{
    min-width: 176px;
}

.white-space {
    white-space: unset !important;
}


.gray-button {
    background-color: #EEE;
    cursor: pointer;
    transition: 0.4s ease;
}

.gray-button:hover {
    background-color: #D2D2D2;
}

.custom-blue-button {
    cursor: pointer;
    transition: 0.4s ease;
}

.custom-blue-button:hover {
    color:cornflowerblue;
}

.progress-bar-hover {
    cursor: pointer;
    transition: all 0.4s linear;
}

.progress-bar-hover:hover {
    color: #FFF;
    background-color: #C8E3FF;
}

.progress-bar-hover-disabled {
    pointer-events:none !important;
}


.white-space {
    white-space: unset !important;
}
.tripplebar{
    display: flex;
    justify-content: space-around;
    background: #fff;
    margin: 0 2rem;
    padding: 2rem 0;
    border-radius: 1rem;
}
.tripplebar-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -2px 2px 9px 0px darkgrey;
    border-radius: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: darkgray;
    font-family: franklin gothic medium;
    overflow: hidden;
}

.tripplebar_btn_active:hover{
    background: #658ede !important;
}
.tripplebar-btn:hover{
    background: darkgray;
    color: #fff;
    cursor: pointer;
    transition: 0.15s easy-in-out;
}
.tripplebar-btn .far, .fas{
    margin-right: 1rem;
}
.recruiting-simple-block i {
    margin-right: 1rem;
}
.tripplebar-btn i{
    font-size: 2rem;
}
.recruiting-header{
    display: flex;
    padding-left: 5rem;
    margin-top: 2rem;
}
.recruiting-header .rec-active{
    color: #275cc7;
}
.recruiting-header-tab{

}
.recruiting-header-tab-inner{
    padding: 1rem 2rem 0.10rem;
    border-bottom: 1px solid #275cc7;
    text-transform: uppercase;
    font-weight: bold;
    background: #fff;
}
.bg-gray{
    background: #f8fbff;
}
.recruiting-container{
    margin: 2rem;
}
.recruiting-header-tab-inner{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    font-size: 0.9rem;
}
.tripplebar_btn_active{
    color: #fff;
    background: #275cc7;
}
.recruiting-body{
    background: #fff;
    padding: 5rem 5rem;
}
.recruiting-body input{
    padding-left: 1rem;
}
.recruiting-body select{
    padding-left: 1rem;
}

.recruiting-select{
    background: #f0f3f6;
    border: 1px solid #d5d5d5;
    border-radius: 0.4rem;
    height: 2.5rem;
    width: 100%;
}
.recruiting-select:hover{
    cursor: pointer;
}
.recruiting-textarea:hover{
    cursor: pointer;
}
.recruiting-select-header{
    margin-bottom: 0.75rem;
    margin-top: 2rem;
}
.recruiting-double-block{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 0;
    margin-top: 2rem;
}
.recruiting-tripple-block-center{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0;
}
.recruiting-tripple-block-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1rem;
}
.recruiting-tripple-block{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 0;
    margin-top: 2rem;
}
.recruiting-textarea{
    background: #f0f3f6;
    border: 1px solid #d5d5d5;
    border-radius: 0.4rem;
    height: 5rem;
    resize: none;
    width: 100%;
    padding-left: 1rem;
}
.recruiting-simple-block{
    display: flex;
    align-items: center;
    background: #f0f3f6;
    border: 1px solid #d5d5d5;
    border-radius: 0.4rem;
    padding: 1rem 2.75rem;
}
.recruiting-simple-block:hover{
    cursor: pointer;
}
.recruiting-simple-block-container{
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}
.recruiting-btn-container{
    display: flex;
    justify-content: flex-end;
}
.recruiting-btn{
    background: #275cc7;
    color: #fff;
    font-weight: bold;
    border-radius: 0.4rem;
    padding: 0.75rem 4rem;
    cursor: pointer;
}
.recruiting-btn:hover{
    background: #1f4aa2;
}
.recruiting-striped{
    font-size: 0.9rem;
}
.recruiting-striped > tbody > tr:nth-child(2n + 1) > td, .recruiting-striped > tbody > tr:nth-child(2n + 1) > th {
    background-color: #f1f4f7;
}
.recruiting-striped th{
    color: #3c6ccc;
}
.recruiting-striped thead th {
    vertical-align: top !important;
}
.recruiting-striped thead th:not(:last-child),td:not(:last-child) {
    border-right: 1px dashed #3c6ccc;
}
.recruiting-center{
    text-align: center;
}
.recruiting-modal-size{
    max-width: 900px !important;
}
.modal-header-general{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}
.modal-margin-general{
    margin: 0 5rem;
}
.modal-cell-general{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    margin-top: 1rem;
}
.recruiting-modal-general{
    background: #f0f3f6;
    border: 1px solid darkgray;
    border-radius: 0.5rem;
    padding: 0.3rem 2rem;
}
.recruiting-upload-general{
    background: #fff;
    border: 1px solid darkgray;
    border-radius: 0.5rem;
    padding: 0.2rem 2rem;
    max-width: 100%;
    overflow: hidden;
    cursor: pointer;
}
.disabledBtnRecruiting {
    pointer-events: none;
    background: darkgray;
}
.disabledBtnRecruiting:hover {
    pointer-events: none;
    background: darkgray;
}
.activeBtnRecruiting{
    pointer-events: auto;
    background: #275cc7 !important;
}
.activeBtnRecruiting:hover{
    background: #1f4aa2 !important;
}
.recruiting-savebtn-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
.colorRedImportant{
    color: red !important;
}
.colorblack{
    color: #000;
}
.recruiting-modal-borderbot{
    padding-bottom: 1rem;
    border-bottom: 1px solid #e9ecef;
}
.recruiting-add-btn{
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 2px solid darkgray;
    color: gray;
    padding: 1rem;
    background: #fff;
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.recruiting-add-btn i{
    margin-right: 0;
}
.colororange{
    color: orange;
}
.typeFile{
    display: none;
}
.recruiting-backward-title{
    font-size: 1.3rem;
    font-weight: bold;
}
@media (max-width: 1400px){
    .tripplebar-btn{
        flex-flow: column-reverse;
        word-break: break-word;
    }
    .tripplebar-btn .far, .fas {
        margin-right: 0;
    }
}
.z-9999{
    z-index: 9999 !important;
}
.treeSelectRecruiting div{
    background: #f0f3f6;
}
.recruiting-div-like-select{
    background: #f0f3f6;
    padding: 0.3rem 1rem;
    width: auto;
    height: auto;
    border: 1px solid #d5d5d5;
    border-radius: 0.4rem;
}
.recruiting-max-height-table{
    overflow-y: scroll;
    max-height: 550px;
}

.dplayer-video-wrap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    overflow: hidden;
    width: auto!important;
    height: 0!important;
}

.dplayer-video-wrap .dplayer-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tooltip.motivation-tooltip {
    .tooltip-inner {
        max-width: none !important;
        background-color: #7abaff;
    }
}
