@font-face {
    font-family: 'Rubik';
    src: url('../../../fonts/rubik/rubik_regular.eot'),
         url('../../../fonts/rubik/rubik_regular.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/rubik/rubik_regular.woff') format('woff'),
         url('../../../fonts/rubik/rubik_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Flex Regular';
    src: url('../../../fonts/euclidflex/euclidflex_regular.woff2') format('woff2'),
         url('../../../fonts/euclidflex/euclidflex_regular.woff') format('woff'),
         url('../../../fonts/euclidflex/euclidflex_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
